.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1{
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid #d0c7f7;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 290px;
  padding: 8px;
}
input:focus{
  border: 2px solid blueviolet;
}
.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  margin-bottom: 20px;
}
.button {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
}
.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 10px;
}
.addTodo {
  color: #fff;
  background-color: #6d28d9;
}
.todoText {
  cursor: pointer;
  font-weight: bold ;
}
.header{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
header span {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  width: 140px;
  margin-left: 20px;
}